{# empty Twig template #}
{% extends "::base.html.twig" %}

{% block title %}Demo 1 | Πελάτης{% endblock %}

{% block body %}

    {% if errors %}
        <h3>Λάθη</h3>
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    {% endif %}

    <ol>
        <li><a href="{{ url_access_token_full }}">Έκδοση Τεκμηρίου Πρόσβασης - Πλήρης Διαδικασία</a></li>
        <li><a href="{{ url_access_token_reused_grant }}">
                Έκδοση Τεκμηρίου Πρόσβασης - Επαναχρησιμοποίηση Τεκμηρίου Χορήγησης</a></li>
        <li><a href="{{ url_access_token_wrong_client_id }}">
                Έκδοση Τεκμηρίου Πρόσβασης - Λανθασμένο Αναγνωριστικό Πελάτη</a></li>
        <li><a href="{{ url_access_token_expired_grant }}">
                Έκδοση Τεκμηρίου Πρόσβασης - Ληγμένο Τεκμήριο Χορήγησης Εξουσιοδότησης</a></li>
        <li><a href="{{ url_access_token_unsupported_grant_type }}">
                Έκδοση Τεκμηρίου Πρόσβασης - Μη Υποστηριζόμενος Τύπος Χορήγησης</a></li>
        <li><a href="{{ url_access_token_invalid_redirection_uri }}">
                Έκδοση Τεκμηρίου Πρόσβασης - Μη Έγκυρο URL Ανακατεύθυνσης</a></li>
        <li><a href="{{ url_access_token_missing_required_parameter }}">
                Έκδοση Τεκμηρίου Πρόσβασης - Παράλειψη Υποχρεωτικής Παραμέτρου</a></li>
        <li><a href="{{ url_access_token_missing_redirection_uri }}">
                Έκδοση Τεκμηρίου Πρόσβασης - Παράλειψη URL Ανακατεύθυνσης</a></li>
        <li><a href="{{ url_authorization_code_invalid_client_id }}">
                Έκδοση Κωδικού Εξουσιοδότησης - Μη Έγκυρο Αναγνωριστικό Πελάτη</a></li>
        <li><a href="{{ url_authorization_code_invalid_scope }}">
                Έκδοση Κωδικού Εξουσιοδότησης - Μη Έγκυρο Πεδίο Τεκμηρίου Πρόσβασης</a></li>
        <li><a href="{{ url_authorization_code_invalid_redirection_uri }}">
                Έκδοση Κωδικού Εξουσιοδότησης - Μη Έγκυρο URL Ανακατεύθυνσης</a></li>
        <li><a href="{{ url_authorization_code_unsupported_response_type }}">
                Έκδοση Κωδικού Εξουσιοδότησης - Μη Υποστηριζόμενος Τύπος Απάντησης</a></li>
        <li><a href="{{ url_authorization_code_missing_redirection_uri }}">
                Έκδοση Κωδικού Εξουσιοδότησης - Παράλειψη URL Ανακατεύθυνσης</a></li>
        <li><a href="{{ url_authorization_code_missing_required_parameter }}">
                Έκδοση Κωδικού Εξουσιοδότησης - Παράλειψη Υποχρεωτικής Παραμέτρου</a></li>
    </ol>

{% endblock %}