{# Σελίδα Στοιχείων Πελάτη #}
{% extends "::base.html.twig" %}

{% block title %}Στοιχεία Πελάτη{% endblock %}

{% block body %}
<h2>Στοιχεία Πελάτη</h2>

<table>
    <tbody style="text-align: left">
        <tr><th>Αναγνωριστικό Πελάτη:</th><td>{{ client.id }}</td></tr>
        <tr><th>Μυστικό Πελάτη:</th><td>{{ secret }}</td></tr>
        <tr><th>e-mail:</th><td>{{ client.email }}</td></tr>
        <tr><th>Τίτλος:</th><td>{{ client.appTitle }}</td></tr>
        <tr><th>URI Aνακατεύθυνσης:</th><td>{{ client.redirectionUri }}</td></tr>
    </tbody>
</table>

{% endblock %}